:root {
	--numDays: 5;
	--numHours: 10;
	--timeHeight: 60px;
	--calBgColor: #fff1f8;
	--eventBorderColor: #f2d3d8;
	--eventColor1: #ffd6d1;
	--eventColor2: #fafaa3;
	--eventColor3: #e2f8ff;
	--eventColor4: #d1ffe6;
 }
 
 .calendar {
	display: grid;
	gap: 10px;
	grid-template-columns: auto 1fr;
	margin: 2rem;
 }
 
 .timeline {
	display: grid;
	grid-template-rows: repeat(var(--numHours), var(--timeHeight));
 }
 
 .days {
	display: grid;
	grid-column: 2;
	gap: 5px;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
 }
 
 .events {
	display: grid;
	grid-template-rows: repeat(var(--numHours), var(--timeHeight));
	border-radius: 5px;
	background: var(--calBgColor);
 }
 
 /* Place on Timeline */
 .start-10 {
	grid-row-start: 2;
 }
 
 .start-12 {
	grid-row-start: 4;
 }
 
 .start-1 {
	grid-row-start: 5;
 }
 
 .start-2 {
	grid-row-start: 6;
 }
 
 .start-3 {
	grid-row-start: 7;
 }
 
 .end-12 {
	grid-row-end: 4;
 }
 
 .end-1 {
	grid-row-end: 5;
 }
 
 .end-3 {
	grid-row-end: 7;
 }
 
 .end-4 {
	grid-row-end: 8;
 }
 
 .end-5 {
	grid-row-end: 9;
 }
 
 .end-6 {
	grid-row-end: 10;
 }
 
 /* Event */
 
 .title {
	font-weight: 600;
	margin-bottom: 0.25rem;
 }
 
 .event {
	border: 1px solid var(--eventBorderColor);
	border-radius: 5px;
	padding: 0.5rem;
	margin: 0 0.5rem;
	background: white;
 }
 
 .space,
 .date {
	height: 60px
 }
 
 /* Global / Etc */
 
 body {
	font-family: system-ui, sans-serif;
 }
 
 .corp-fi {
	background: var(--eventColor1);
 }
 
 .ent-law {
	background: var(--eventColor2);
 }
 
 .writing {
	background: var(--eventColor3);
 }
 
 .securities {
	background: var(--eventColor4);
 }
 
 .date {
	display: flex;
	gap: 1em;
 }
 
 .date-num {
	font-size: 3rem;
	font-weight: 600;
	display: inline;
 }
 
 .date-day {
	display: inline;
	font-size: 3rem;
	font-weight: 100;
 }
 
/*
Container Queries!
*/
 
 /* Set up the containers */
 .day {
	contain: style layout size;
 }
 
 /* Less horizontal space == more compact */
 @container (max-width: 200px) {
	.date {
	  display: block;
	}
	
	.date-num {
	  font-size: 2.5rem;
	  display: block;
	}
	
	.date-day {
	  font-size: 1rem;
	  font-weight: 300;
	}
	
	.time {
	  font-size: 90%
	}
 }
 
 /* Even smaller space */
 
 @container (max-width: 150px) {
	.event {
	  margin: 0;
	  font-size: 0.9rem;
	}
 }
 
 /* Now MQ for Macro Layout */
 @media (max-width: 660px) {
	.calendar {
	  margin: 0.5rem;
	}
	
	.timeline {
	  display: none;
	}
	
	.days {
	  --timeHeight: 50px;
	  grid-template-columns: 1fr;
	  grid-template-rows: repeat(5, 580px);
	}
 }
 
 .warning {
	max-width: 460px;
	margin: 2rem auto;
	background: #ffcebf;
	border: 1px solid tomato;
	padding: 1rem;
 }
 
 strong {
	font-weight: 800;
 }
 
 i {
	font-style: italic;
 }
 
 @supports (contain: inline-size) {
	.warning {
	  display: none;
	}
 }